{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{pre_hooks, [
    {compile, "make v8"},
    {clean, "make clean"},
    {'delete-deps', "make distclean"}
]}.

{deps, [
    {'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {'jiffy', ".*", {git, "git://github.com/davisp/jiffy.git", "master"}}
]}.
