{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{pre_hooks, [
    {compile, "./scripts/v8.sh build"},
    {clean, "./scripts/v8.sh clean"},
    {'get-deps', "./scripts/v8.sh checkout"},
    {'update-deps', "./scripts/v8.sh update"},
    {'delete-deps', "./scripts/v8.sh distclean"}
]}.

{deps, [
    {'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {'jiffy', ".*", {git, "git://github.com/davisp/jiffy.git", "master"}}
]}.
